@mixin flexer($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

.nav-link {
    transition: all 200ms;
    .nav-arrow {
        transition: all 400ms;
    }
    &:hover {
        color: green;
        cursor: pointer;
        .nav-arrow {
            transform: rotate(-180deg);
        }
    }
}