$active-color: #1976d2;

.category-link {
    transition: all 200ms;
    .cat-icon {
        transition: all 200ms;
    }
    &:hover {
        color: $active-color;
        .cat-icon {
            color: $active-color;
        }
    }
}

.carousel {
    overflow: hidden;
    .carousel-item {
        overflow: hidden;
        img {
            border-radius: 10px;
        }
    }
}

.product-section {
    .section-view-link {
        h5 {
            transition: all 200ms;
            
        }
        &:hover {
            h5 {
                padding-right: 5px;
                color: rgb(0, 113, 206);
            }
        }
    }
}