.product-container {
    background-color: white;
}

.mySwiper {
    width: 100%;
    // background-color: red;
}


.slide-img-container {
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: all 50ms;
    img {
        transition: all 200ms;
        opacity: 0.6;
    }
}

.slide-img-container.active {
    border: 2px solid rgb(0, 179, 125);
    img {
        opacity: 1;
        // transform: scale(1.1);
    }
}

.bgred {
    background-color: red;
    border: 1px solid red;
}

.color-box {
    width: 25px;
    height: 25px;
    border: 2px solid rgb(255, 255, 255);
    outline: 1px solid rgba(184, 184, 184, 0.712);
    border-radius: 5px;
    cursor: pointer;
    transition: outline 50ms;
}

.color-box.active {
    outline: 2px solid rgb(0, 196, 147);
}