@mixin flexer($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

$active-color: #ffbcbc;
$active-color-dark: #d32f2f;
$menu-bg: #d32f2f;
$shadow: rgba(126, 125, 125, 0.2);
$topstrip-text: #e1e7ec;

.mainappbar {
    background-color: #ffffff;
    z-index: 99999;
    .topstrip {
        background-color: #d32f2f;
        padding: 3px 0;
        @keyframes blinktext {
            0% {color: $topstrip-text;}
            50% {color: #f8a3a3b7;}
            100% {color: $topstrip-text;}
        }
        .t-item {
            .icon, .text {
                display: inline;
                color: #e1e7ec;
                transition: all 200ms;
            }
            .text {
                margin-left: 5px;
                font-size: 0.9rem;
            }
            .text.phone-no {
                animation-name: blinktext;
                animation-duration: 1.5s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                &:hover {
                    animation: none;
                }
            }
            &:hover .icon, &:hover .text {
                color: #ffc0c0;
            }
        }
        .divider {
            height: 20px;
            border-left: 1px solid gray;
        }
    }
    .brand {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
    }
}

.category-container {
    display: inline-block;
    position: relative;
    z-index: 99;
    .btn {
        @include flexer(row);
        padding: 7px 1rem;
        background-color: #8a8a8a;
        cursor: pointer;
        .icon, .title {
            color: white;
        }
        .icon {
            margin-right: 20px;
        }
        .arrow-icon {
            margin-left: 5px;
            color: #d3d3d3;
            transition: all 600ms;
        }
    }
    .cat-menu-container {
        position: absolute;
        width: 100%;
        top: 100%;
        visibility: hidden;
        opacity: 0;
        transition: all 200ms;
        box-shadow: 0 5px 20px gray;
    }
    &:hover {
        .cat-menu-container {
            visibility: visible;
            opacity: 1;
        }
        .btn {
            .arrow-icon {
                transform: rotate(180deg);
            }
        }
    }
}

.category-container.homepage {
    .cat-menu-container {
        box-shadow: none;
        visibility: visible;
        opacity: 1;
    }
    &:hover {
        .btn {
            .arrow-icon {
                transform: none;
            }
        }
    }
}

// .category-link {
//     position: relative;
//     z-index: 99999;
//     .submenu {
//         position: absolute;
//         z-index: 9999999;
//         left: 100%;
//         background-color: #8e9caa;
//     }
// }


.category-link {
    transition: all 200ms;
    .cat-icon, .cat-text {
        transition: all 200ms;
    }
    .cat-text {
        color: black;
    }
    &:hover {
        .cat-icon {
            color: $menu-bg;
        }
        .cat-text {
            color: $menu-bg;
        }
    }
}

ul.navlinks {
    padding: 0;
    margin: 0;
    margin-left: 1rem;
    li {
        display: inline-block;
        text-transform: uppercase;
        margin-right: 20px;
        padding: 6px;
        border-bottom: 2px solid transparent;
        transition: all 0.6s;
        color: #566877;
        &:hover {
            color: black;
            border-bottom-color: #4c687f;
        }
    }
}

.bgred {
    background-color: red;
}

.product-categories {
    .content {
        position: relative;
        color: #415864;
        padding: 2px 0;
        // background-color: $menu-bg;
        ul {
            @include flexer(row);
            margin: 0;
            li {
                padding: 0 0.7rem;
                .cat-item {
                    position: relative;
                    .title {
                        font-size: 0.9rem;
                    }
                    .sub-menu {
                        position: absolute;
                        left: 0;
                        top: 110%;
                        z-index: 100;
                        white-space: nowrap;
                        background-color: rgba(255, 255, 255, 0.9);
                        color: #566877;
                        // border: 1px solid #fa6363;
                        border-top: 3px solid #fa6363;
                        backdrop-filter: blur(10px);
                        padding: 10px 20px 10px 10px;
                        box-shadow: 2px 2px 5px $shadow, -2px 2px 5px $shadow;
                        border-radius: 0 0 3px 3px;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 150ms;
                        ul {
                            @include flexer(column);
                            align-items: flex-start;
                            li {
                                font-size: 0.9rem;
                                transition: all 200ms;
                                a {
                                    transition: all 200ms;
                                    &:hover {
                                        color: $menu-bg;
                                    }
                                }
                            }
                        }
                    }
                    &:hover {
                        .title {
                            color: #566877;
                            cursor: pointer;
                        }
                        .sub-menu {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

.searchbox {
    position: relative;
    border-radius: 10px;
    background-color: #d4d4d499;
    outline: 1px solid rgb(228, 228, 228);
    @include flexer(row);
    input {
        background-color: transparent;
        width: 300px;
        text-align: left;
        border-radius: 180px;
        padding: 7px 5px 7px 20px;
        border: 0;
        font-size: 1rem;
        color: #4c687f;
        transition: all 200ms;
        &:focus {
            outline: none !important;
            width: 320px;
        }
    }
    button {
        transition: all 200ms;
    }
    img.icon {
        width: 25px;
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translate(0, -50%);
        // background-color: #5b7488;
        transition: all 0.2s;
        filter: grayscale(100%);
    }
    &:focus-within {
        outline: 1px solid #cecececb;
    }
}

.shoppinglist-btn {
    background-color: #ffffff;
    font-size: 0.6rem;
    padding: 3px 10px;
    box-shadow: inset 2px 2px 4px 0 rgb(0 0 0 / 0.1), inset -2px -1px 0 0 rgba(56, 56, 56, 0.1);
    border-radius: 180px;
    transition: all 150ms;
    @include flexer(row);
    .icon {
        margin-right: 5px;
    }
    box-shadow: inset 2px 2px 4px 0 var(--shadow-1), inset -2px -1px 0 0 var(--shadow-2);
    .icon, .text {
        color: var(--textcolor);
    }
    &:hover {
        box-shadow: inset -2px -1px 0 0 var(--shadow-1), inset 2px 2px 4px 0 var(--shadow-1);
    }
}

.shoppinglist-btn.success {
    --textcolor: rebeccapurple;
    --shadow-1: rgba(0, 0, 0, 0.2);
    --shadow-2: rgba(56, 56, 56, 0.15);
}

.shoppinglist-btn.danger {
    --textcolor: $active-color-dark;
    --shadow-1: rgba(255, 0, 0, 0.2);
    --shadow-2: rgba(255, 175, 175, 0.2);
}

.p-count-inp {
    @include flexer(row);
    gap: 10px;
    button {
        --btn-color: rgb(130, 151, 145);
        --btn-color-dark: rgb(0, 0, 0);
        font-size: 1.2rem;
        width: 20px;
        height: 20px;
        padding-top: 2px;
        border: 1px solid var(--btn-color);
        color: var(--btn-color);
        text-align: center;
        transition: all 200ms;
        @include flexer(column);
        &:hover {
            color: var(--btn-color-dark);
        }
    }
    .count {
        text-align: center;
    }
}

@keyframes rotate180 {
    from {rotate: 0;}
    to {rotate: 180;}
}