.mainappbar {
  background-color: #ffffff;
  z-index: 99999;
}
.mainappbar .topstrip {
  background-color: #3d4953;
  padding: 5px 0;
}
.mainappbar .topstrip .t-item .icon, .mainappbar .topstrip .t-item .text {
  display: inline;
  color: #e1e7ec;
  transition: all 200ms;
}
.mainappbar .topstrip .t-item .text {
  margin-left: 5px;
  font-size: 0.9rem;
}
.mainappbar .topstrip .t-item:hover .icon, .mainappbar .topstrip .t-item:hover .text {
  color: #9daebd;
}
.mainappbar .topstrip .divider {
  height: 20px;
  border-left: 1px solid gray;
}
.mainappbar .brand {
  font-family: "Bebas Neue";
}

.category-container {
  display: inline-block;
  position: relative;
  z-index: 99;
}
.category-container .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 1rem;
  background-color: #8a8a8a;
  cursor: pointer;
}
.category-container .btn .icon, .category-container .btn .title {
  color: white;
}
.category-container .btn .icon {
  margin-right: 20px;
}
.category-container .btn .arrow-icon {
  margin-left: 5px;
  color: #d3d3d3;
  transition: all 600ms;
}
.category-container .cat-menu-container {
  position: absolute;
  width: 100%;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 200ms;
  box-shadow: 0 5px 20px gray;
}
.category-container:hover .cat-menu-container {
  visibility: visible;
  opacity: 1;
}
.category-container:hover .btn .arrow-icon {
  transform: rotate(180deg);
}

.category-container.homepage .cat-menu-container {
  box-shadow: none;
  visibility: visible;
  opacity: 1;
}
.category-container.homepage:hover .btn .arrow-icon {
  transform: none;
}

.category-link {
  transition: all 200ms;
}
.category-link .cat-icon, .category-link .cat-text {
  transition: all 200ms;
}
.category-link .cat-text {
  color: black;
}
.category-link:hover .cat-icon {
  color: #d32f2f;
}
.category-link:hover .cat-text {
  color: #d32f2f;
}

ul.navlinks {
  padding: 0;
  margin: 0;
  margin-left: 1rem;
}
ul.navlinks li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 20px;
  padding: 6px;
  border-bottom: 2px solid transparent;
  transition: all 0.6s;
  color: #566877;
}
ul.navlinks li:hover {
  color: black;
  border-bottom-color: #4c687f;
}

.bgred {
  background-color: red;
}

.product-categories .content {
  position: relative;
  color: #415864;
  padding: 2px 0;
}
.product-categories .content ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.product-categories .content ul li {
  padding: 0 0.7rem;
}
.product-categories .content ul li .cat-item {
  position: relative;
}
.product-categories .content ul li .cat-item .title {
  font-size: 0.9rem;
}
.product-categories .content ul li .cat-item .sub-menu {
  position: absolute;
  left: 0;
  top: 110%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
  color: #566877;
  border-top: 3px solid #fa6363;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 10px 20px 10px 10px;
  box-shadow: 2px 2px 5px rgba(126, 125, 125, 0.2), -2px 2px 5px rgba(126, 125, 125, 0.2);
  border-radius: 0 0 3px 3px;
  opacity: 0;
  visibility: hidden;
  transition: all 150ms;
}
.product-categories .content ul li .cat-item .sub-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.product-categories .content ul li .cat-item .sub-menu ul li {
  font-size: 0.9rem;
  transition: all 200ms;
}
.product-categories .content ul li .cat-item .sub-menu ul li a {
  transition: all 200ms;
}
.product-categories .content ul li .cat-item .sub-menu ul li a:hover {
  color: #d32f2f;
}
.product-categories .content ul li .cat-item:hover .title {
  color: #566877;
  cursor: pointer;
}
.product-categories .content ul li .cat-item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

.searchbox {
  position: relative;
  border-radius: 10px;
  background-color: white;
  border: 2px solid rgb(255, 255, 255);
  outline: 1px solid rgb(228, 228, 228);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchbox input {
  background-color: inherit;
  width: 300px;
  text-align: left;
  border-radius: 180px;
  padding-left: 20px;
  border: 0;
  font-size: 1rem;
  color: #4c687f;
  transition: all 200ms;
}
.searchbox input:focus {
  outline: none !important;
}
.searchbox button {
  transition: all 200ms;
  background-color: rgba(212, 212, 212, 0.6);
}
.searchbox img.icon {
  width: 25px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate(0, -50%);
  transition: all 0.2s;
  filter: grayscale(100%);
}
.searchbox:focus-within {
  outline: 1px solid rgb(206, 183, 183);
}
.searchbox:focus-within button {
  background-color: rgba(196, 149, 149, 0.6);
}

.shoppinglist-btn {
  background-color: #ffffff;
  font-size: 0.6rem;
  padding: 3px 10px;
  box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.1), inset -2px -1px 0 0 rgba(56, 56, 56, 0.1);
  border-radius: 180px;
  transition: all 150ms;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 2px 4px 0 var(--shadow-1), inset -2px -1px 0 0 var(--shadow-2);
}
.shoppinglist-btn .icon {
  margin-right: 5px;
}
.shoppinglist-btn .icon, .shoppinglist-btn .text {
  color: var(--textcolor);
}
.shoppinglist-btn:hover {
  box-shadow: inset -2px -1px 0 0 var(--shadow-1), inset 2px 2px 4px 0 var(--shadow-1);
}

.shoppinglist-btn.success {
  --textcolor: rebeccapurple;
  --shadow-1: rgba(0, 0, 0, 0.2);
  --shadow-2: rgba(56, 56, 56, 0.15);
}

.shoppinglist-btn.danger {
  --textcolor: $active-color-dark;
  --shadow-1: rgba(255, 0, 0, 0.2);
  --shadow-2: rgba(255, 175, 175, 0.2);
}

.p-count-inp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.p-count-inp button {
  --btn-color: rgb(130, 151, 145);
  --btn-color-dark: rgb(0, 0, 0);
  font-size: 1.2rem;
  width: 20px;
  height: 20px;
  padding-top: 2px;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  text-align: center;
  transition: all 200ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p-count-inp button:hover {
  color: var(--btn-color-dark);
}
.p-count-inp .count {
  text-align: center;
}

@keyframes rotate180 {
  from {
    rotate: 0;
  }
  to {
    rotate: 180;
  }
}/*# sourceMappingURL=style.css.map */